<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.bmth.aprog.mastermind" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="Mastermind.Menu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="AboutPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="Mastermind.About" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="HelpPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="Mastermind.Help" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="mainGame"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="Mastermind.Main" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="WinPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="Mastermind.Win" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="LosePage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="Mastermind.Lose" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>





    </application>

</manifest>
